@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;500&family=Roboto+Slab:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Raleway, sans-serif;
  list-style: none;
}
body {
  background: rgb(36, 33, 33);
  margin: 0 auto;
  text-align: center;
  height: 100vh;
}

header {
  margin: 0 auto;
  text-align: center;
  background: black;
  height: 100px;
}
a {
  text-decoration: none;
  color: rgb(253, 251, 251);
}
header h3,
li {
  font-size: 1.5rem;
  font-weight: 900;
}
header span {
  color: #d42b2b;
}

nav {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
li {
  padding-left: 35px;
  position: relative;
  
}

li a:hover {
  color: #d42b2b;
}
li a:hover:before {
  content: "";
  position: absolute;
  background: #d42b2b;
  height: 5px;
  transform: translateY(25px);
}
.infos{
  max-width: 1200px;
  margin: 0 auto;
}
.infos-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}