@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500&family=Roboto+Slab:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: whitesmoke;
}

a {
    text-decoration: none;
}

body {
    background: #1c1919;
    /*292525 */

    font-family: "Roboto", sans-serif;

}

header {

    max-width: 1100px;
    height: 100px;
    margin: 0 auto;

}

header nav {

    display: flex;
    justify-content: space-around;
    align-items: center;

    background: #252222;

}

nav h3 {
    word-spacing: 5px;
}

nav span {
    color: #D42B2B;
}

nav ul {

    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul li {
    list-style: none;
    padding: 30px;
    letter-spacing: 1px;
    font-size: 0.9rem;
    cursor: pointer;
    position: relative;

}



ul li a:hover:before {

    content: "";
    position: absolute;
    width: 50%;
    height: 1px;
    background: #f2f2f2cc;
    transform: translateY(20px);
    text-align: center;




}

ul li a:hover {
    color: #D42B2B;
    transition: 0.5s ease;

}

.infos {
    /* background: white; */
    display: flex;
    max-width: 1100px;
    margin: 20px auto;
}

.infos-left {

    margin: 20px;
    width: 50%;
    text-align: center;
}

.left-container {
    text-align: center;
}

.left-container h4 {
    font-weight: lighter;
    font-size: 1.5rem;
    padding: 10px 20px;
    letter-spacing: 1px;

}


.left-container h1 {
    font-weight: 500;
    font-size: 2rem;
    padding: 10px 20px;
    letter-spacing: 1px;

}


.left-container h3 {
    font-weight: 200;
    font-size: 1.5rem;
    padding: 10px 20px;
    letter-spacing: 1px;

}

.main-btn {
    margin: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.btn {
    display: inline-block;
    padding: 11px 26px;
    background: whitesmoke;
    color: #252222;
    border: 1px solid black;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 600;
    transition: all 0.50s ease;



}

.btn:hover {
    background: #D42B2B;
    color: #252222;

}



.btn2 {
    background: #D42B2B;
    color: whitesmoke;

}

.btn2:hover {
    background: whitesmoke;
    color: black;

}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;

}

.icons i {

    font-size: 2rem;
    margin: 25px;
}


.infos-right {
    width: 50%;
}

.tof img {
    width: 100%;
}