@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500&family=Roboto+Slab:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}

a {
    text-decoration: none;
    color: rgb(253, 251, 251);
}

body {
    background: #141313;
    /*292525 */
    height: 100vh;
    font-family: "Roboto", sans-serif;
    color: black;
}

header {

    
    height: 100px;
    margin: 0 auto;
   

}

header nav {

    display: flex;
    justify-content: space-around;
    align-items: center;

    background: #D42B2B;

}

nav h3 {
    word-spacing: 5px;
    font-size: 1.5rem;
    color: rgb(253, 251, 251);
}



nav span {
    color: #080808;
} 

nav ul {

    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul li {
    list-style: none;
    padding: 30px;
    letter-spacing: 1px;
    font-size: 1.2rem;
    cursor: pointer;
    position: relative;
    color: whitesmoke;
    text-align: center;

}



ul li a:hover:before {

    content: "";
    position: absolute;
    width: 50%;
    height: 1px;
    background: #f2f2f2cc;
    transform: translateY(25px);
   




}

ul li a:hover {
    color: #020101;
    transition: 0.5s ease;

}
.info-container{

    position: relative;
}
.infos h3 {
    color: beige;
    margin:50px auto 10px;
       text-align: center;
       font-size: 1.5rem;
       width: 150px;    
       position: relative;
    
    
    }
    
    .infos h3::before{
       
        content: "";
        height: 2px;
        width: 100%;
        position: absolute;
       background: #ebe5e5;
       transform: translateY(40px);
    }




.info-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card{

    color: aliceblue;
    margin: 50px 50px;
    padding: 50px 50px;
    border: 1px solid rgba(26, 21, 21, 0.445);
    text-align: center;
    background: #1f1e1e;
}

.card:hover{

transform: translateY(-20px);


}

.card h2{
padding: 20px 30px;
color: #020101;

}

.card p{

    padding: 20px;
}


i{
    color: #D42B2B;
    font-size: 1.8rem;
    margin: 30px;
}



